body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(218, 206, 190);
}

header {
    background-color: rgb(123, 109, 90);
    color: rgb(243, 236, 228);
    padding: 20px;
    text-align: center;
}

.ods {
    background-color: rgb(206, 182, 147);
    border: 1px solid rgb(216, 193, 193);
    width: 180px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgb(2, 2, 2);
    transition: transform 0.2s;
}

.ods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.ods img {
    width: 100%;
}

.ods p {
    margin-top: 10px;
    font-weight: bold;
}

.ods:hover {
    transform: scale(1.05);
}

